<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>OMZY HOMES</title>
</head>

<body>

    <div class="flex items-center justify-center min-h-screen bg-cyan-50">
        <div class="bg-white p-6 m-3 space-x-10 shadow-2xl rounded-3xl md:p-40">
            <%- include("../partials/flash") %>
            <br>
            <!-- Menu container -->
            <div
                class="flex flex-col items-center justify-center space-y-3 md:flex-row md:space-y-0 md:space-x-8 md:mb-24 md:justify-end">
                <!-- Menu Items -->
                <div class="group">
                    <a href="/">Home</a>
                    <div class="mx-2 mt-2 duration-500 border-b-2 opacity-0 border-black group-hover:opacity-100"></div>
                </div>
                <div class="group">
                    <a href="/homes">Homes</a>
                    <div class="mx-2 mt-2 duration-500 border-b-2 opacity-0 border-black group-hover:opacity-100"></div>
                </div>
                <div class="group">
                    <a href="/homes/new">New Home</a>
                    <div class="mx-2 mt-2 duration-500 border-b-2 opacity-0 border-black group-hover:opacity-100"></div>
                </div>
                <% if (!currentUser) { %>
                    <div class="group">
                        <a href="/login">Login</a>
                        <div class="mx-2 mt-2 duration-500 border-b-2 opacity-0 border-black group-hover:opacity-100"></div>
                    </div>
                    <div class="group">
                        <a href="/register">Register</a>
                        <div class="mx-2 mt-2 duration-500 border-b-2 opacity-0 border-black group-hover:opacity-100"></div>
                    </div>
                <% } else { %>
                    <div class="group">
                        <a href="/logout">Logout</a>
                        <div class="mx-2 mt-2 duration-500 border-b-2 opacity-0 border-black group-hover:opacity-100"></div>
                    </div>
                <% } %>
                
            </div>
            <!-- Search Container -->
            <div class="flex flex-col justify-between space-y-5 md:flex-row md:space-y-0">
                <!-- Input and SVG Container -->
                <div class="flex justify-between border-b">
                    <input type="text" class="ml-6 border-none md:w-80 placeholder:font-thin focus:outline-none"
                        placeholder="Search" />
                    <br>
                    <button>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none"
                            class="w-8 text-gray-300 duration-200 hover:scale-110" stroke="currentColor"
                            stroke-width="1.5" stroke-linecap="round">
                            <circle cx="10" cy="10" r="7" />
                            <line x1="21" y1="21" x2="15" y2="15" />
                        </svg>
                    </button>
                </div>

                <!-- Upload Button -->
                <button
                    class="py-3 px-14 text-lg font-normal text-white bg-black border border-black rounded-md shadow-2xl duration-200 hover:bg-white hover:text-black" id="add-home-btn">
                    Add Home
                </button>
            </div>

            <!-- Gallery container -->
            <br>
            <div class="grid gap-4 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5">
                <!-- Image 1 -->
                <% for (let home of homes) { %>
                    
                    <a href="/homes/<%= home._id %>"><div class="relative group">
                        <% if (home.images.length) { %>
                            <img crossorigin="anonymous"    class="img-fluid"          
                            src="<%= home.images[0].url %>"
                                alt="home Image" class="w-72">
                        <% } else { %>
                                <img crossorigin="anonymous" class="img-fluid"
                                    src="images/image1.jpg"
                                    alt="home Image" class="w-72"/>
                        <% } %>
                        <div class="absolute bottom-0 left-0 right-0 p-2 px-4 text-white duration-500 bg-black opacity-0 group-hover:opacity-100 bg-opacity-40">
                            <div class="flex justify-between w-full">
                                <div class="font-normal">
                                    <p class="text-sm"><%= home.title %></p>
                                    <p class="text-xs"><%= home.description %></p>
                                    <small class="text-muted">
                                        <%= home.location %>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div></a>
                <% } %>                
            </div>
        </div>
    </div>
    <%- include("../partials/footer") %>
    <script>
        // Add onclick event listener to the button
        document.getElementById('add-home-btn').onclick = function() {
            location.href="/homes/new"
        };
    </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
        <script src="/scripts/validateForms.js"></script>
</body>

</html>